body, html {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", "Helvetica Neue", sans-serif;
    color: #5A6872;
    font-size: 21px;
}

.topnavdark, .topnavgreen {
    color: #ffffff;
    overflow: hidden;
}

.topnavdark {
    background-color: #0F355B;
    position: fixed;
    width: 100%;
}

.topnavdark a{
    float: left;
    color: #ffffff; 
    text-align: center;
    padding: 19px 40px 19px 40px;
    text-decoration: none;
    font-size: 18px;
}

.topnavdark input{
    float: left;
    color: #ffffff; 
    text-align: center;
    background-color: transparent;
    padding: 15px 30px 10px 20px;
    height: 60px; 
}

#logoimg {
    height: 60px; 
    padding: 14px 5px 8px 40px;
    text-align: center;
    margin: 0 auto;
}

.topnavgreen {
    background-color: #15BCC3; 
    overflow: hidden;
    color: #ffffff;
}

.topnavgreen a{
    float: left;
    color: #ffffff; 
    text-align: center;
    padding: 75px 20px 15px 40px;
    text-decoration: none;
    font-size: 26px;
}

.topnavpath {
    background-color: transparent;
    overflow: hidden;
    color: #15BCC3;
    border: 2px solid #bcc4cb;
}

.topnavpath a{
    float: left;
    color: #15BCC3; 
    text-align: center;
    padding: 5px 0px 5px 40px;
    text-decoration: none;
    font-size: 18px;
}

#topnavpathtext {
    float: left;
    color: #5A6872; 
    text-align: center;
    padding: 5px 0px 0px 5px;
    text-decoration: none;
    font-size: 18px;
}

#avatar-button{
    float: right;
    outline: none;
}


#sidebar {
    list-style-type: none;
    position: fixed;
    right: 0px;
    top: 65px;
    bottom: 80px;
    background-color: #f9f9f9;
    width: 300px;
    color: #0F355B;
}

#sidebar a {
    font-weight: bold;
}

#sidebar li{
    margin-left: -20px;
    width: 100%;
}

#sidebar hr {
    margin-left: -30px;
    margin-right: 10px;
    padding-top: 5px;
}

#sidebar input {
    margin-bottom: 10px;
}

#sidebar select {
    margin-bottom: 10px;
    border: none;
    background: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 120px;
    text-align: left;

    background-image: url("select_arrow.png");
    background-size: 40px 35px;
    background-position: right center;
    

    background-repeat: no-repeat; 
}

#sidebar select:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sidebar-text, .sidebar-number {
    background: transparent; 
    border:none; 
    border-bottom: 1px solid #bcc4cb; 
}

.sidebar-number {
    width: 30%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#sidebar-cancel, #sidebar-save {
    float: right;
    margin-right: 20px;
    width: 70px;
    border: none;
}
#sidebar-cancel {
    color: #15BCC3; 
    background-color: transparent;
}

#sidebar-save {
    color: #f9f9f9;
    background-color: #15BCC3;
}

.containerbox {
    padding: 5px 30px;
}

.header1, .header2, .header3{
    padding: 0px 0px; margin: 0 auto
}

.header1 {
    font-size: 40px; 
    font-weight: bold; 
}

.header2 {
    font-size: 30px;
}

.header3 {
    font-size: 20px;
}

.faceimg {
    height: 60px; 
    padding: 0px 50px 0px 15px;
    margin: 20px 0px;
}

#send-button {
    border: none; 
    color: #fdffff; 
    width: 100px; 
    height: 40px;
    float: right; 
    margin-top: 20px; 
    margin-right: 0px
}

#user-text {
    width: 100%; 
    resize: none;
}

.response-icon-face {
    height: 50px;
    position: absolute;
}

.response-icon-quote {
    height: 45px;
    position: absolute;
    margin-left: 3px;
}

#question {
    display: block;
}

#response {
    display: none; 
    width: 50%;
}

#user-comment, #feedback-title {
    padding: 0px 0px 0px 75px;
}

#feedback-title {
    font-weight: bold;
}

#feedback-comment {
    padding: 10px 0px 0px 75px;
}

#coupon {
    display: none;
}

#response-hr {
    margin-top: 30px;
}

.containerrecent, .containertable {
    background-color: #f9f9f9;
}
.containerrecent {
    padding: 10px 25px; 
    margin: 20px 0px 0px 0px;
}

.containertable {
    overflow: hidden;
    margin: 4px 0px 20px 0;
    padding: 10px 15px;
    color: #8c9ba4;
}

.containertable td {
    float: unset;
    text-align: left;
    padding: 10px 10px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 16px;
}


.value {
    padding-right: 150px;
    font-weight: bold;
    color: #43525a;
}

.inputvalue {
    background-color: transparent; 
    border: none; 
    outline: none;  
    font-weight: bold; 
    color: #43525a; 
    max-width: 100px;
}

.container-fluid {
    padding-right: 0; 
    padding-left: 0;
}

#send-button:disabled{
    background-color: #d2d4db;
}

#send-button:enabled{
    background-color: #00bcc3; 
}

#error-message {
    display: none;
    margin-top: 70px; 
    color: rgb(211, 39, 16);
}

footer {
    padding: 0px 0px 0px 0px;  
    margin-top: 100px;
    width: 100%;
    color: #ffffff; 
    height: 60px;
    overflow: hidden; 
    bottom: 0;
    background-color: #0F355B;
    /* position: fixed; */
}

footer a{
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    font-size: 18px;
    float: left;
}

.footerright {
    color: #00bcc3;
    float: right;

    padding-left: 0px;
}

