body, html {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", Helvetica Neue, sans-serif;
    color: #5A6872;
    font-size: 21px;
}

h1 {
    color: #ffffff; 
    height: 75px; 
    max-width: 100%;
    margin: 0;
    padding: 0; 
}

.topnav {
    background-color: #27bcc2; 
    overflow: hidden;
    color: #ffffff;
}

.topnav a{
    float: left;
    color: #ffffff; 
    text-align: center;
    padding: 15px 15px;
    /* padding-left: 3%; */
    margin-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 26px;
}

.topnav2 {
    background-color: #0e355b;
    overflow: hidden;
    color: #ffffff;
}

.topnav2 a{
    float: left;
    color: #ffffff; 
    text-align: center;
    padding: 19px 19px;
    /* padding-left: 3%; */
    margin-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 18px;
}

.topnav2 button{
    float: left;
    color: #ffffff; 
    text-align: center;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #ffffff; 
    border-spacing: 30px;
    width: 120px;
    height: 40px;
    border: 1px solid #ffffff; 
}

.topnav3 {
    background-color: transparent;
    overflow: hidden;
    color: #27bcc2;
    border: 2px solid #bcc4cb;
}

.topnav3 a{
    float: left;
    color: #27bcc2; 
    text-align: center;
    padding: 5px 5px;
    /* padding-left: 3%; */
    margin-left: 35px;
    text-decoration: none;
    font-size: 18px;
}

.inputtable {
    background-color: #f9f9f9; 
    overflow: hidden;
    margin-top: 4px; 
    padding: 10px 15px;
    color: #8c9ba4;
}

.inputtable td {
    float: unset;
    text-align: left;
    padding: 10px 10px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 16px;
}


.value {
    padding-right: 150px;
    font-weight: bold;
    color: #43525a;
}


.container-fluid {
    padding-right: 0; 
    padding-left: 0;
}

#send_button:disabled{
    background-color: #d2d4db;
}

#send_button:enabled{
    background-color: #00bcc3; 
}

