body, html {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", "Helvetica Neue", sans-serif;
    color: #5A6872;
    font-size: 21px;
}

.topnavdark, .topnavgreen {
    color: #ffffff;
    overflow: hidden;
}

.topnavdark {
    background-color: #0F355B;
}

.topnavdark a{
    float: left;
    color: #ffffff; 
    text-align: center;
    padding: 19px 40px 19px 40px;
    text-decoration: none;
    font-size: 18px;
}

.topnavdark input{
    float: left;
    color: #ffffff; 
    text-align: center;
    background-color: transparent;
    padding: 15px 30px 10px 20px;
    height: 60px; 
}

#logoimg {
    height: 60px; 
    padding: 14px 5px 8px 40px;
    text-align: center;
    margin: 0 auto;
}

.topnavgreen {
    background-color: #15BCC3; 
    overflow: hidden;
    color: #ffffff;
}

.topnavgreen a{
    float: left;
    color: #ffffff; 
    text-align: center;
    padding: 15px 20px 15px 40px;
    text-decoration: none;
    font-size: 26px;
}

.topnavpath {
    background-color: transparent;
    overflow: hidden;
    color: #15BCC3;
    border: 2px solid #bcc4cb;
}

.topnavpath a{
    float: left;
    color: #15BCC3; 
    text-align: center;
    padding: 5px 0px 5px 40px;
    text-decoration: none;
    font-size: 18px;
}

#topnavpathtext {
    float: left;
    color: #5A6872; 
    text-align: center;
    padding: 5px 0px 5px 5px;
    text-decoration: none;
    font-size: 18px;
}

.containerbox {
    padding: 15px 30px;
}

.header1, .header2, .header3{
    padding: 0px 0px; margin: 0 auto
}

.header1 {
    font-size: 40px; 
    font-weight: bold; 
}

.header2 {
    font-size: 30px;
}

.header3 {
    font-size: 20px;
}

.faceimg {
    height: 60px; 
    padding: 0px 50px 0px 15px;
    margin: 20px 0px;
}

#send_button {
    border: none; 
    color: #fdffff; 
    width: 100px; 
    height: 40px;
    float: right; 
    margin-top: 20px; 
    margin-right: 0px
}

#feedback {
    width: 100%; 
    resize: none;
}

.responseicon {
    height: 50px;
    position: absolute;
}

#question {
    display: block;
}

#response {
    display: none; 
    width: 50%;
}

#user_comment, #feedback_title {
    padding: 0px 0px 0px 75px;
}

#feedback_title {
    font-weight: bold;
}

#feedback_comment {
    padding: 10px 0px 0px 75px;
}

#coupon {
    display: none;
}

.containerrecent, .containertable {
    background-color: #f9f9f9;
}
.containerrecent {
    padding: 10px 25px; 
    margin: 20px 0px 0px 0px;
}

.containertable {
    overflow: hidden;
    margin: 4px 0px 20px 0;
    padding: 10px 15px;
    color: #8c9ba4;
}

.containertable td {
    float: unset;
    text-align: left;
    padding: 10px 10px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 16px;
}


.value {
    padding-right: 150px;
    font-weight: bold;
    color: #43525a;
}

.inputvalue {
    background-color: transparent; 
    border: none; 
    outline: none;  
    font-weight: bold; 
    color: #43525a; 
    max-width: 100px;
}

.container-fluid {
    padding-right: 0; 
    padding-left: 0;
}

#send_button:disabled{
    background-color: #d2d4db;
}

#send_button:enabled{
    background-color: #00bcc3; 
}

footer {
    padding: 0px 0px 0px 0px;  
    margin-top: 100px;
    width: 100%;
    color: #ffffff; 
    overflow: hidden; 
    background-color: #0F355B;
}

footer a{
    text-align: center;
    padding: 18px 60px;
    text-decoration: none;
    font-size: 18px;
    float: left;
}

.footerright {
    color: #00bcc3;
    float: right;

    padding-left: 0px;
}

